In [15]:
import pandas as pd
table = pd.DataFrame(index=['Bowl 1','Bowl 2'])

In [16]:
def update(table):
    """사전확률(prior)과 가능도(likelihood)가 테이블에 있을때, 
        사후확률을 계산함"""
    table['unnorm'] = table['prior'] * table['likelihood']
    prob_data = table['unnorm'].sum()
    table['posterior'] = table['unnorm'] / prob_data
    return prob_data

In [17]:
table['prior'] = 1/2,1/2
table

        prior
Bowl 1    0.5
Bowl 2    0.5

In [18]:
table['likelihood'] = 3/4,1/2
table

        prior  likelihood
Bowl 1    0.5        0.75
Bowl 2    0.5        0.50

In [19]:
table['unnorm'] = table['prior'] * table['likelihood']
table

        prior  likelihood  unnorm
Bowl 1    0.5        0.75   0.375
Bowl 2    0.5        0.50   0.250

In [20]:
prob_data = table['unnorm'].sum()
prob_data

0.625

In [21]:
table2 = pd.DataFrame(index=[6,8,12])

In [23]:
from fractions import Fraction
table2['prior'] = Fraction(1,3)
table2['likelihood'] = Fraction(1,6), Fraction(1,8), Fraction(1,12)
table2

   prior likelihood
6    1/3        1/6
8    1/3        1/8
12   1/3       1/12

In [25]:
prob_data = update(table2)
table2

   prior likelihood unnorm posterior
6    1/3        1/6   1/18       4/9
8    1/3        1/8   1/24       1/3
12   1/3       1/12   1/36       2/9

In [26]:
table3 = pd.DataFrame(index=['Door 1','Door 2','Door 3'])
table3['prior'] = Fraction(1,3)
table3

       prior
Door 1   1/3
Door 2   1/3
Door 3   1/3

In [27]:
"""
사회자는 A 문을 열 수 없고 B, C 중 하나만을 고를 수 있으며,
염소가 있는 문을 열어줘야 한다는 목적이 있는 상태이므로 각각의 확률은 이하와 같다.

만약 자동차가 A에 있다면 사회자는 B와 C문 중 하나를 골라 열어줄 것이다. 2가지 선택지 중 하나를 무작위로 고르는 확률이므로 
1/2
만약 자동차가 B에 있다면 사회자는 A, B문을 열 수 없으므로 C문을 열 수밖에 없다. 즉 
1
만약 자동차가 C에 있다면 사회자가 C문을 여는 일은 일어날 수 없다. 즉 
0
"""

'\n사회자는 A 문을 열 수 없고 B, C 중 하나만을 고를 수 있으며,\n염소가 있는 문을 열어줘야 한다는 목적이 있는 상태이므로 각각의 확률은 이하와 같다.\n\n만약 자동차가 A에 있다면 사회자는 B와 C문 중 하나를 골라 열어줄 것이다. 2가지 선택지 중 하나를 무작위로 고르는 확률이므로 \n1/2\n만약 자동차가 B에 있다면 사회자는 A, B문을 열 수 없으므로 C문을 열 수밖에 없다. 즉 \n1\n만약 자동차가 C에 있다면 사회자가 C문을 여는 일은 일어날 수 없다. 즉 \n0\n'

In [28]:
table3['likelihood'] = Fraction(1,2),1,0
table3

       prior likelihood
Door 1   1/3        1/2
Door 2   1/3          1
Door 3   1/3          0

In [29]:
update(table3)
table3

       prior likelihood unnorm posterior
Door 1   1/3        1/2    1/6       1/3
Door 2   1/3          1    1/3       2/3
Door 3   1/3          0      0         0

In [30]:
zz = pd.DataFrame(index = ['coin1','coin2'])
zz

Empty DataFrame
Columns: []
Index: [coin1, coin2]

In [31]:
zz['prior'] = 1/2,1/2
zz

       prior
coin1    0.5
coin2    0.5

In [32]:
zz['likelihood'] = 1/2,1

In [33]:
update(zz)
zz

       prior  likelihood  unnorm  posterior
coin1    0.5         0.5    0.25   0.333333
coin2    0.5         1.0    0.50   0.666667